.accordion-container{
    background-color: white;
    display: inline-flex;
    padding:20px;
    border-radius: 25px;
}
.que-container{
    border-bottom:solid;
    border-width: 1px;
    border-color: hsl(240, 5%, 91%);
    padding: 15px 0px;
    width: fit-content;
    background-color: white;
}
#patter-img{
    width:25%;
    height: 75%;
}
#box-img{
    width: 10%;
    position: absolute;
    top: 115px;
    left: 0px; 
}
#woman-img{
    z-index: 5px; 
    position: absolute;
    width: 25%;
    left:10px; 
}

p{
    text-align: left;
    display:inline;
    font-size: 12px;
    color:hsl(237, 12%, 33%);
}
body{
    font-family:'Kumbh Sans', Helvetica, sans-serif;
    background: linear-gradient(hsl(273, 75%, 66%),hsl(240, 73%, 65%));
    background-repeat: no-repeat;
    height: 97.25vh;
}